@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #121212;
  overflow: hidden;
  margin: 0px;
}

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 70% auto;
}

textarea {
  --color: #ff0000;
  width: 90%;
  height: 85%;
  resize: none;
  box-shadow: 0px 0px 20px var(--color);
  border: 3px solid var(--color);
  overflow-y: scroll;
  background: #151515;
  border-radius: 10px;
  font-size: 10px;
  color: white;
  padding: 10px;
  outline: none;
}


#stats {
  box-shadow: 0px 0px 0px var(--color);
  border: 3px solid var(--color);
  border-radius: 10px;
  background: #151515;
  width: 80%;
  color: white;
  padding: 10px;
  height: 85%;
  letter-spacing: 1.1px;
}


h2,
h3 {
  display: flex;
  justify-content: center;
}

hr{
  border-color: white;
  border-radius: 10px;
}

h4 {
  width: fit-content;
  padding: 10px;
  margin: 0px;
  display: inline-block;
}

p {
  display: inline;
}


#keyword-list {
  padding: 0px;
  overflow-y: scroll;
  height: 120px;
}

#keyword-list li {
  width: 90%;
  border: 1px solid #323232;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

li span:nth-child(1) {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 10px;
  background: #323232;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: var(--color);
  border-radius: 10px;
}