@tailwind base;
@tailwind components;
@tailwind utilities;


#keyword-list li {
  width: 90%;
  border: 1px solid #323232;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

li span:nth-child(1) {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 6px;
  background: #ddd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 6px;
  background: #999999;
  border-radius: 10px;
}